
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Glyphicons
@import url(https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css);

.avatar-navigation {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.avatar-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
